#home-page{
    height: 100vh;
    width: 100vw;
    background-color: #F2F0F1;
    padding: 0px;
    margin: 0px !important;
    overflow: hidden;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-etween; */
}
.flex-row{
    display: flex;
    flex-direction: row;
}
#home-left-section{
    margin-top: 170px;
    margin-left: 100px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 60px;
    line-height: 1;

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    opacity: 60%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.round-button{
    border-radius: 62px;
    padding: 16px 54px 16px 54px;
    width: 210px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
}
.left-section-span-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

/* .m80{
    margin-right: 50px;
} */

.span-under-span-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 60%;
    font-size: 16px;
}
.vertical-line {
    border-left: 2px solid black; /* Adjust the width and color as needed */
    height: 90px; /* Adjust the height as needed */
    /* margin: 20px; Optional: for spacing around the line */
    position: relative;
    top:-5px;
    margin: 0px 40px 0px 40px;
    opacity: 20%;    
  }
  .landing-section-img{
    height: 100vh;
    /* position: relative; */
    /* top: 200px; */
   
    
  }


  /* .............new arrival section............................ */


  #home-page-new-arrival{
    height: 100vh;
}

#home-page-new-arrival h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-page-new-arrival-cards{
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.new-arrival-card h2{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.new-arrival-price{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.star-color{
    color: gold;
}
.rating-number{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
.strikethrough{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px ;
    margin-left: 10px;
    color: gray;
    font-weight: 600;

}
.flex-align-center{
    align-items: baseline;
}
.discount{
    border-radius: 60px;
    background-color: rgba(255, 51, 51, 0.2); /* Use rgba for opacity, 20% opacity */
    padding: 7px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    top: 1px;
    height: 10px;
}
.discount span{
    padding-left: 10px;
    opacity: 100%;
    height: auto;
    width: auto;
    position: relative;
    bottom: 3px;
    color: red;
}

.container-btn-new-arrival{
    
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 40px;
    /* display: inline-block; */
}
.btn-new-arrival{
    background-color: white;
    color: black;
    border: 1px solid gray;
    font-size: 16px;
}